<ion-view view-title="我">
    <ion-content>
        <div class="list">
            <div class="item">
                邮箱：apanly@163.com
            </div>
            <div class="item">
                微信：apanly
            </div>
            <div class="item item-icon-right" href="javascript:void(0);" ng-click="openUrl('http://m.vincentguo.cn');">
                网站：http://www.vincentguo.cn
                <i class="icon ion-ios-arrow-forward"></i>
            </div>
            <div class="item item-divider">
            </div>
            <a class="item item-icon-right" href="javascript:void(0);" ng-click="openUrl('http://m.vincentguo.cn/default/164.html');">
                微信表情设置
                <i class="icon ion-ios-arrow-forward"></i>
            </a>
            <a class="item item-icon-right" href="javascript:void(0);" ng-click="openUrl('http://m.vincentguo.cn/my/emoticon');">
                超级逗表情
                <span class="item-note" ng-hide = "true">v1.0</span>
                <i class="icon ion-ios-arrow-forward"></i>
            </a>
        </div>
    </ion-content>
</ion-view>