<ion-view view-title="大家都在发">
    <ion-content class="padding" delegate-handle="mainScroll">
        <!--下拉刷新-->
        <ion-refresher pulling-text="下拉刷新" on-refresh="doRefresh()"></ion-refresher>
        <div class="row row-wrap" >
            <div class="col col-33" ng-repeat="image in images track by $index" >
                <a href="#/info/{{image.id}}">
                    <img cache-src="{{image.url}}" class='img-responsive' width="100%" height="100px"
                         encode-uri="false"
                         on-error="cache.onError" on-start="cache.onStart" on-finish="cache.onFinish" on-progress="cache.onProgress"
                         circle-container-style="display:inline-block;position:relative;left:30px;height:150px;line-height:150px;"
                    />
                </a>
            </div>
        </div>
        <!-- ion-infinite-scroll 上拉加载数据指令 distance默认1% nf-if的值为false时，就禁止执行on-infinite  -->
        <ion-infinite-scroll ng-if="!domore" spinner="spiral" distance="1%" immediate-check="false" on-infinite="loadMore()" ></ion-infinite-scroll>
    </ion-content>
</ion-view>